build/*
logs/*
logs_thresh/*
logs_SCL_thresh/*
logs_SCL/*
logs_codeword/*
logs_codeword_thresh/*
logs_Q1_PW/*
logs_list_size/*
logs_direct_syndrome/*
logs_PW_list_size/*
logs_Q1_PW_new/*
logs_large_rate/*
logs_large_rate_beta/*
logs_low_error/*
lsf.*
.ipynb_checkpoints
.vscode
